<!DOCTYPE html>
<html>
    <head>
        <title>Login page</title>

        <link rel="stylesheet" media="screen" href="bower_components/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/app.css"/>

    </head>

    <body>

        <h5>Test Users...</h5>
        <i>
            id: 'administrator', password: 'admin'   
        </i>

        <h3>Login</h3>
        <form method="post" action="/login">
            Username: <input type="text" name="username"><br>
            Password: <input type="password" name="password"><br/>
            <input type="submit" value="Login">
        </form>

        <a href="/authenticate/google">GoogleAuth</a><br/>

        <a href="/signup">Sign Up</a>



        <script src="http://code.jquery.com/jquery.js"></script>
        <!-- Twitter bootstrap -->
        <script src="bower_components/bootstrap/js/bootstrap.min.js"></script> 
    </body>
</html>
