<html>
    <head><title>Login page</title></head>
    <body>
        
        <h5>Test Users...</h5>
        <i>
            id: 'administrator', password: 'admin'   
        </i>

        <h3>Login</h3>
        <form method="post" action="/login">
            Username: <input type="text" name="username"><br>
            Password: <input type="password" name="password"><br/>
            <input type="submit" value="Login">
        </form>
        
        <a href="/authenticate/google">GoogleAuth</a><br/>
        
        <a href="/signup">Sign Up</a>
        
    </body>
</html>
