<h3>Event List</h3>



<table class="table table-hover">
    <thead>
        <tr>
            <th>#ID</th>
            <th>Event Name</th>
            <th>View</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="event in eventList">	

            <td>{{event.id}}</td>
            <td>{{event.name}}</td>
            <td><a class="btn btn-success btn-xs" href="#/event/{{event.id}}">View <span class="glyphicon glyphicon-star"></span></a></td>
            <td><a class="btn btn-danger btn-xs"  data-toggle="modal" data-target="#myDeleteModal" ng-click="deleteEventPopup(event.id, event.name)">Delete <span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="myDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Are you sure that you want to delete this event?</h4>
      </div>
      <div class="modal-body">
        Event to delete: {{eventNameToDelete}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal" ng-click="confirmDeleteEventPopup()">Yep, I am completely sure. Delete Event!</button>
      </div>
    </div>
  </div>
</div>
<h5>Add new Event</h5>
Name: <input ng-model="eventName"/> 
<a class="btn btn-success btn-xs" ng-click="addEvent()">Add</a>

{{addedEvent}}


